.socialNetworksContainer--redes{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    color: #1c4865;

}

.socialNetworkImage--redes{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    color: #1c4865;
}
