.container--TituloPrincipal{
    background-color: #00b7cd;
    height: 50px;
    font-size: 30px;
    color: white;
    
}

.container--categorias{
    border-top:2px solid #00b7cd;
    height: 50px;
    font-size: 30px;
    color: #00b7cd;
    margin: 25px;
}

.container--tituloOfertas
{
    border-top:2px solid #00b7cd;
    height: 50px;
    font-size: 30px;
    color: #00b7cd;
    margin: 25px;
}

.container--destacados{
    border-top:2px solid #00b7cd;
    height: 50px;
    font-size: 30px;
    color: #00b7cd;
    margin: 25px;
}

.container--TitFoot{
    height: 20px;
    padding: 0%;
    
}
.wrapper--TitFoot {
    margin-bottom: 0%;
    padding: 0%;
    color: #1c4865;
}
.wrapper--TitFoot .headingLevel2--TitFoot{
    font-size: 18px;
    margin-bottom: 0%;
    color: #1c4865;
}
.headingLevel2--NroTel{
    font-size: 16px;
    margin-bottom: 0%;
    color: #1c4865;
}
.container--NroTel{
    height: 18px;
    padding: 0%;
    color: #1c4865;
}
.container--Horarios{
    height: 18px;
    padding: 0%;
    color: #1c4865;
}
.container--Caba{
    height: 18px;
    padding: 0%;
    color: #1c4865;
    font-weight: bold;
}

.container--mail{
    height: 18px;
    padding: 0%;
    text-decoration: none;
    color: #1c4865;
}
.link--mail{
    text-decoration: none;
    color: #1c4865;
    font-weight: bold;  
}

.wrapper--foot3Col1{
    width: 100%;
}
